@tailwind base;
@tailwind components;
@tailwind utilities;

.form-element {
  display: block;
  min-width: 100px;
  width: 100%;
  padding: 0.35rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 0.9rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-element:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 0.2rem rgba(38, 132, 255, 0.25);
}

.active-link {
  color: #fff; /* Highlight color */
}

.table-container::-webkit-scrollbar {
  width: 10px;
}

.table-container::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 5px;
  border: 2px solid #f3f4f6;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
